<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/style/style.css" data-th-href="@{/style/style.css}"/>
    <title>Mon Blog de Recettes</title>
</head>
    <body>
    <header id="header">
        <a href="index.html"><h1 id="titreBlog">Mon Blog de Recettes</h1></a>
        <div style="width:300px;margin:20px auto;">Bienvenue sur mon blog de
            recettes</div>
        <div id="loginBar">
            <div class="login">
                <a class="primaryBtn login"
                   href="inscription.html" data-th-href="@{/inscription}">Inscription</a>
            </div>
        </div>
    </header>
    <div id="global">


        <article data-th-each="recette:${recettes}">
            <header>
                <img class="imgRecette" src="../static/style/img/tartiflette.jpg" width="300px" height="242px"
                     alt="Tartiflette" data-th-src="@{'/style/img/' + ${recette.photo}}" data-th-alt="${recette.titre}" />
                <a href="recette.html" data-th-href="@{'/recette/' + ${recette.id}}">
                    <h1 class="titreRecette"  data-th-text="${recette.titre}">
                        Tartiflette
                    </h1>
                </a>
                <time data-th-text="${#dates.format(recette.dateCreation, 'dd MMMM yyyy')}">
                    07/01/2019
                </time>
            </header>
            <p data-th-text="${recette.description}">
                La tartiflette savoyarde est un gratin de pommes de terre avec
                du Reblochon fondu dessus
            </p>
            <hr />
        </article>


    </div>
    <footer id="piedBlog">
        Blog réalisé par …
    </footer>
</body>
</html>